.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #ac470f;
  display: block;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.postListArea {
  margin-left: 10px;
}

.navbar {
  background-color: #0f74ac;
  width: 95vw;
  border-radius: 0.5rem;
  font-size: calc(10px + 2vmin);
  margin-left: 1vw;
}

.navbarTitle {
  margin-left: 1vw;
}

.navbarText {
  margin-right: 1vw;
}

.card {
  margin-top: 10vmin;
  width: 40vmin;
}

.viewPostHeader {
  align-content: center;
  font-size: xx-large;
  font-weight: 500;
}

.postTitle {
  color: black;
  background-color: #0f74ac;
  margin-bottom: 0rem !important;
  padding: 0.5vmin;
  text-align: center;
}

.postBody {
  font-size: medium;
}

.postImage {
  height: 15vw;
  object-fit: cover;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

.row {
  padding-left: 10vmin;
  padding-right: 10vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
