.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ac470f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #0f74ac;
  width: 100%;
  border-radius: 0.5rem;
}

.card {
  margin-top: 10px;
}

.viewPostHeader {
  align-content: center;
  font-size: xx-large;
  font-weight: 500;
}

.postTitle {
  color: black;
  background-color: #0f74ac;
  margin-bottom: 0rem !important;
  padding-bottom: 0.5rem;
}

.postBody {
  font-size: medium;
}

.postImage {
  height: 15vw;
  object-fit: cover;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
